# The Basics
install
text
lang en_US.UTF-8
keyboard us
timezone UTC --ntpservers=3.centos.pool.ntp.org,0.centos.pool.ntp.org
auth --enableshadow --passalgosha512 --kickstart
rootpw packer
user --name=vagrant --plaintext --password vagrant

# Install source:
## US URL
#url --url="http://mirror.centos.org/centos/7/os/x86_64"
## China URL
#url --url="http://mirrors.shu.edu.cn/centos/7/os/x86_64/"
## CentOS DVD
cdrom

# Lets disable some nonsense
firstboot --disable
selinux --disabled
firewall --disabled

# Final Install Stuff and Reboot
eula --agreed
ignoredisk --only-use=sda
reboot --eject

# System services
services --enabled="chronyd"
services --enabled="sshd"

# Disk Config
bootloader --location=mbr --boot-drive=sda
zerombr
clearpart --all --initlabel
part /boot/efi --fstype="vfat" --size=200
part /boot --fstype="ext4" --size=1024
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow

# Network information
network --bootproto=dhcp --device=eth0 --noipv6 --activate

%post
systemctl enable sshd
## Mayhaps this fixes Secure Boot Issued in Hyper-V
cp -pr /boot/efi/EFI/centos/* /boot/efi/EFI/BOOT/

# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant

#Enable hyper-v daemons only if using hyper-v virtualization
if [ $(virt-what) == "hyperv" ]; then
    yum -y install hyperv-daemons cifs-utils
    systemctl enable hypervvssd
    systemctl enable hypervkvpd
fi
%end


%packages --nobase --ignoremissing --excludedocs
# Basic functional system
@core
openssh-server
openssh-clients
chrony
sudo

# Helpful but optional
deltarpm
wget
yum-utils
nfs-utils
net-tools
bind-utils

# Not Necessary
-fprintd-pam
-intltool

# unnecessary firmware
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-ivtv-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
%end
